*{
    margin:0%;
    padding:0%;
}
body{
    background: rgb(238,174,202);
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
    color: white;
}
.largo{
    height: 950px; 
    background: #19191a;
}
H2,label,th{
    color: #FFFFFF;
}
.tamaño{
    width: 50px;
}
.nav{
    background:#ec96a4;
}
.negrita{
    font-weight: bold;
}